docs/** linguist-generated
docs-source/** linguist-documentation
compiler/out/** linguist-generated
vscode-escurieux/out/** linguist-generated
**/.eslintrc.js linguist-generated
docs-generator.py linguist-documentation
